body {
  background-color: #282828;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#canvas {
  background-color: #ff0000;
}
#root {
  text-align: center;
}
p {
  user-select: none;
}
#blured {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #0000008f;
  z-index: 5;
  display: none;
}
#popUp {
  position: absolute;
  width: 400px;
  height: 200px;
  left: 40vw;
  top: 200px;
  background-color: #1a1a1a;
  border: solid 4px #535353;
  border-top: none;
  margin: auto;
  z-index: 6;
  display: none;
  box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 75%);
}
#popUpHeader {
  width: 100%;
  height: 20px;
  background-color: #535353;
}
#popUpHeader p {
  font-size: 10px;
  color: #d7d7d7;
  font-family: system-ui;
  margin: 0px;
  margin-left: 5px;
  padding-top: 2px;
  float: left;
}
#closePopUp {
  padding: 0px;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: none;
  font-weight: 200;
  font-size: 14px;
  background-color: initial;
  cursor: pointer;
  float: right;
}
#closePopUp:hover {
  background-color: #454545;
}
#popUp > button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  padding: 0px;
  height: 30px;
  border-radius: 2px;
  border: none;
  font-weight: 200;
  font-size: 14px;
  background-color: #535353;
  color: #d7d7d7;
  cursor: pointer;
}
#popUp > button:hover {
  background-color: #454545;
  border: solid 1px #636363;
}
#popUp > p {
  position: absolute;
  width: 100%;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #d7d7d7;
  font-family: system-ui;
}
#downloadWindow {
  position: absolute;
  width: 400px;
  height: 390px;
  left: 40vw;
  top: 200px;
  background-color: #1a1a1a;
  border: solid 4px #535353;
  border-top: none;
  margin: auto;
  z-index: 6;
  text-align: left;
  display: none;
  box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 75%);
}
#downloadWindowHeader {
  width: 100%;
  height: 20px;
  background-color: #535353;
}
#downloadWindowHeader p {
  font-size: 10px;
  color: #d7d7d7;
  font-family: system-ui;
  margin: 0px;
  margin-left: 5px;
  padding-top: 2px;
  float: left;
}
#downloadCancleContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#downloadCancleContainer button {
  width: 20%;
  padding: 0px;
  height: 30px;
  border-radius: 2px;
  border: none;
  font-weight: 200;
  font-size: 14px;
  background-color: #535353;
  color: #d7d7d7;
  cursor: pointer;
}
#downloadCancleContainer button:hover {
  background-color: #454545;
  border: solid 1px #636363;
}
#downloadCancleContainer button:disabled {
  color: #6d6d6d;
}
#closeDownloadWindow {
  padding: 0px;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: none;
  font-weight: 200;
  font-size: 14px;
  background-color: initial;
  cursor: pointer;
  float: right;
}
#closeDownloadWindow:hover {
  background-color: #454545;
}
#gifDownlaodSettings {
  margin-top: 5px;
}
#gifDownlaodSettings div {
  margin: auto;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#gifDownlaodSettings div:nth-last-child(1) {
  margin: auto;
  width: 75%;
  display: block;
}
#gifDownlaodSettings input[type='number'] {
  width: 40%;
  padding: 4px 0px;
  border: solid 1px #636363;
  border-radius: 2px;
  color: #dddddd;
  background-color: #454545;
  margin: 10px 0px;
}
#gifDownlaodSettings input[type='number']:disabled {
  color: #6d6d6d;
}
#gifDownlaodSettings input[type='checkbox'] {
  margin: 10px 10px;
  margin-left: 0px;
}
#downloadWindow > input {
  margin: 15px 15px;
}
#transparentPNG {
  margin: 0 !important;
  margin-left: 10px !important;
  margin-right: 5px !important;
}
#downloadWindow label {
  font-size: 14px;
  color: #d7d7d7;
  font-family: system-ui;
}
#downloadAnimation {
  overflow: hidden;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  top: 28px;
  display: none;
}
#downloadAnimation svg {
  position: relative;
  animation-name: download;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes download {
  0% {
    top: -21px;
  }
  90% {
    top: 22px;
  }
  100% {
    top: 22px;
  }
}
#saveWindow {
  position: absolute;
  width: 400px;
  height: 200px;
  left: 40vw;
  top: 200px;
  background-color: #1a1a1a;
  border: solid 4px #535353;
  border-top: none;
  margin: auto;
  z-index: 6;
  display: none;
  box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 75%);
}
#saveWindow input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px;
  border: solid 1px #636363;
  border-radius: 2px;
  color: #dddddd;
  background-color: #454545;
}
#saveWindow label {
  position: absolute;
  width: 100%;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #d7d7d7;
  font-family: system-ui;
}
#saveWindowHeader {
  width: 100%;
  height: 20px;
  background-color: #535353;
}
#saveWindowHeader p {
  font-size: 10px;
  color: #d7d7d7;
  font-family: system-ui;
  margin: 0px;
  margin-left: 5px;
  padding-top: 2px;
  float: left;
}
#saveCancleContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#saveCancleContainer button {
  width: 20%;
  padding: 0px;
  height: 30px;
  border-radius: 2px;
  border: none;
  font-weight: 200;
  font-size: 14px;
  background-color: #535353;
  color: #d7d7d7;
  cursor: pointer;
}
#saveCancleContainer button:hover {
  background-color: #454545;
  border: solid 1px #636363;
}
#closeSave {
  padding: 0px;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: none;
  font-weight: 200;
  font-size: 14px;
  background-color: initial;
  cursor: pointer;
  float: right;
}
#closeSave:hover {
  background-color: #454545;
}
#confirmWindow {
  position: absolute;
  width: 400px;
  height: 200px;
  left: 40vw;
  top: 200px;
  background-color: #1a1a1a;
  border: solid 4px #535353;
  border-top: none;
  margin: auto;
  z-index: 6;
  display: none;
  box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 75%);
}
#confirmWindowHeader {
  width: 100%;
  height: 20px;
  background-color: #535353;
}
#confirmWindowHeader p {
  font-size: 10px;
  color: #d7d7d7;
  font-family: system-ui;
  margin: 0px;
  margin-left: 5px;
  padding-top: 2px;
  float: left;
}
#confirmTxt {
  position: absolute;
  left: 25px;
  top: 50px;
  font-size: 18px !important;
  width: 335px;
}
#addReplaceContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#addReplaceContainer button {
  width: 20%;
  padding: 0px;
  height: 30px;
  border-radius: 2px;
  border: none;
  font-weight: 200;
  font-size: 14px;
  background-color: #535353;
  color: #d7d7d7;
  cursor: pointer;
}
#addReplaceContainer button:hover {
  background-color: #454545;
  border: solid 1px #636363;
}
#closeConfirm {
  padding: 0px;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border: none;
  font-weight: 200;
  font-size: 14px;
  background-color: initial;
  cursor: pointer;
  float: right;
}
#closeConfirm:hover {
  background-color: #454545;
}
#loadWindow {
  position: absolute;
  width: 500px;
  height: 85vh;
  left: calc(50vw - 250px);
  top: 20px;
  background-color: #1a1a1a;
  border: solid 4px #535353;
  border-top: none;
  margin: auto;
  z-index: 6;
  display: none;
  box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 75%);
  will-change: transform;
}
#noLoads {
  font-size: 15px;
  color: #d7d7d7;
  font-family: system-ui;
  display: none;
}
#loadWindowHeader {
  width: 100%;
  height: 20px;
  background-color: #535353;
}
#loadWindowHeader p {
  font-size: 10px;
  color: #d7d7d7;
  font-family: system-ui;
  margin: 0px;
  margin-left: 5px;
  padding-top: 2px;
  float: left;
}
#exportImportContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 55px;
  width: 60%;
  margin: auto;
}
#exportImportContainer button {
  width: 100px;
  padding: 0px;
  height: 30px;
  border-radius: 2px;
  border: none;
  font-weight: 200;
  font-size: 14px;
  background-color: #535353;
  color: #d7d7d7;
  cursor: pointer;
}
#exportImportContainer label {
  width: 100px;
  padding: 0px;
  height: 30px;
  border-radius: 2px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 14px;
  background-color: #535353;
  color: #d7d7d7;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  margin: 0px;
}
#exportImportContainer input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
#exportImportContainer button:hover {
  background-color: #454545;
  border: solid 1px #636363;
}
#exportImportContainer label:hover {
  background-color: #454545;
  border: solid 1px #636363;
}
#loadContents {
  width: 100%;
  height: calc(100% - 75px);
  overflow-y: auto;
}
.loadCard {
  position: relative;
  width: 100%;
  height: 120px;
  overflow: hidden;
  background-color: #282828;
  margin: 10px 0px;
  cursor: pointer;
}
.loadCard:hover {
  background-color: #454545;
}
.loadCard img {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 100px;
}
.loadInfos {
  position: absolute;
  left: 120px;
  top: 10px;
}
.loadInfos p {
  font-size: 14px;
  color: #d7d7d7;
  font-family: system-ui;
  text-align: left;
}
.deleteSave {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px;
  border-radius: 2px;
  border: solid 1px #00000000;
  background-color: initial;
  cursor: pointer;
  box-sizing: border-box;
}
.deleteSave:hover {
  background-color: #282828;
  border: solid 1px #636363;
}
.exportSave {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px;
  border-radius: 2px;
  border: solid 1px #00000000;
  background-color: initial;
  cursor: pointer;
  box-sizing: border-box;
}
.exportSave:hover {
  background-color: #282828;
  border: solid 1px #636363;
}
#imageLayer {
  position: absolute;
  left: 30vw;
  top: 50px;
  border: solid 4px #535353;
  border-top: none;
  border-bottom: none;
  border-right: none;
  margin: auto;
  z-index: 2;
  pointer-events: none;
  display: none;
  box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 75%);
}
#imgResize {
  position: relative;
  width: 100%;
  height: 9px;
  background-color: #535353;
  pointer-events: initial;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
#sideImgResize {
  position: absolute;
  top: 20px;
  right: 0px;
  width: 9px;
  height: calc(100% - 29px);
  background-color: #535353;
  pointer-events: initial;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
#resizeCorner {
  position: absolute;
  right: 1px;
  bottom: 1px;
  cursor: nwse-resize;
  fill: #d7d7d7;
  width: 12px;
  height: 12px;
  transform: rotate(90deg);
}
#resizeHeight {
  position: absolute;
  left: calc(50% - 12px);
  cursor: n-resize;
  fill: #d7d7d7;
  width: 15px;
  height: 15px;
  transform: rotate(90deg);
}
#resizeWidth {
  cursor: ew-resize;
  fill: #d7d7d7;
  width: 15px;
  height: 15px;
}
#layerHeader {
  width: 100%;
  height: 20px;
  background-color: #535353;
  pointer-events: initial;
}
#closeImg {
  padding: 0px;
  width: 32px;
  height: 20px;
  border-radius: 2px;
  border: none;
  font-weight: 200;
  font-size: 14px;
  background-color: initial;
  cursor: pointer;
  float: right;
}
#closeImg:hover {
  background-color: #454545;
}
#pinImg {
  padding: 1px;
  width: 32px;
  height: 20px;
  border-radius: 2px;
  border: none;
  font-weight: 200;
  font-size: 14px;
  background-color: initial;
  cursor: pointer;
  float: right;
}
#pinImg:hover {
  background-color: #454545 !important;
}
#imgOpacity {
  margin-bottom: 10px;
  -webkit-appearance: none;
  appearance: none;
  height: 1px;
  padding: 1px;
  cursor: initial;
  width: 70px;
  border: solid 1px #636363;
  border-radius: 2px;
  background-color: #454545;
  pointer-events: initial;
  float: left;
}
#imgOpacity::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #d7d7d7;
  margin-top: 10px;
  pointer-events: initial;
}
#imageLayer img {
  opacity: 0.5;
  margin-bottom: -4px;
  margin-right: 9px;
}
#windowContainer {
  position: absolute;
  left: 40vw;
  top: 50px;
  border: solid 4px #535353;
  border-top: none;
  margin: auto;
  box-shadow: 0px 0px 3px 0px rgb(0 0 0 / 75%);
}
#windowHeader {
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  background-color: #535353;
}
#windowHeader p {
  font-size: 10px;
  color: #d7d7d7;
  margin: 0px;
  text-align: left;
  font-family: system-ui;
}
#lifeDeathContainer {
  position: relative;
  display: inline-flex;
  flex-wrap: wrap;
  cursor: crosshair;
  z-index: 1;
}
#horizenLine {
  width: 100%;
  position: absolute;
  background: #868686;
  z-index: -1;
  pointer-events: none;
}
#verticalLine {
  height: 100%;
  position: absolute;
  background: #868686;
  z-index: -1;
  pointer-events: none;
}
#MouseHorizenLine {
  width: 100%;
  height: 1px;
  position: absolute;
  background: #ffffff;
  z-index: 4;
  pointer-events: none;
  will-change: top;
  display: none;
  border: solid 0.5px black;
}
#MouseVerticalLine {
  width: 1px;
  height: 100%;
  position: absolute;
  background: #ffffff;
  z-index: 4;
  pointer-events: none;
  will-change: left;
  display: none;
  border: solid 0.5px black;
}
.controlPanel {
  position: absolute;
  top: 15px;
  left: 30px;
  border: solid 1px #424242;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 50px;
  background-color: #535353;
  box-sizing: border-box;
  z-index: 5;
}
#controlPanel {
  left: 80px;
}
#saveControlPanel {
  top: 15px;
}
#gridControlPanel {
  top: 151px;
}
#colorControlPanel {
  top: 390px;
}
#moveControlPanel {
  top: 437px;
  left: 80px;
}
#colorPlateControlPanel {
  display: none;
  left: 130px;
  padding-bottom: 5px;
}
.colorPlateButtons {
  height: 35px;
  width: 35px;
  margin: 5px 0px;
  cursor: pointer;
  border-radius: 20px;
  border: solid 1px #d7d7d7;
}
.inputNumber {
  cursor: initial;
  width: 85%;
  padding: 6px 0px;
  text-align: right;
  border: solid 1px #636363;
  border-radius: 2px;
  color: #dddddd;
  background-color: #454545;
}
select {
  margin: 0px;
  cursor: pointer;
  width: 85%;
  padding: 0px;
  text-align: right;
  border: solid 1px #636363;
  border-radius: 2px;
  color: #dddddd;
  background-color: #454545;
}
.inputColor {
  -webkit-appearance: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
  text-align: right;
  border: none;
  background-color: #00000000;
}
input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
  border: none;
}
input[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: 12px;
}
.buttons {
  width: 70%;
  padding: 0px;
  height: 35px;
  border-radius: 2px;
  border: none;
  font-weight: 200;
  font-size: 14px;
  background-color: initial;
  cursor: pointer;
}
.buttons:hover {
  background-color: #454545 !important;
  border: solid 1px #636363 !important;
}
.buttons svg {
  width: 22px;
  height: 22px;
}
#copyColorTxt,
#copyColorButton,
#autoFillTxt,
#autoFillButton {
  display: none;
}
.randomColors {
  width: 70%;
  padding: 0px;
  margin: 0px;
  margin-bottom: 1px;
  height: 35px;
  border-radius: 2px;
  border: none;
  font-weight: 200;
  font-size: 14px;
  background-color: initial;
  cursor: pointer;
}
.randomColors:hover {
  background-color: #454545 !important;
  border: solid 1px #636363 !important;
}
#rangeInput {
  margin-bottom: 10px;
  -webkit-appearance: none;
  appearance: none;
  height: 1px;
  padding: 1px;
  cursor: initial;
  width: 85%;
  text-align: right;
  border: solid 1px #636363;
  border-radius: 2px;
  color: #dddddd;
  background-color: #454545;
  direction: rtl;
}
#rangeInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #d7d7d7;
  margin-top: 10px;
}

#grabPad {
  width: 100%;
  height: 20px;
  margin: 0px;
  margin-bottom: 3px;
}
.devider {
  width: 100%;
  height: 1px;
  background-color: #454545;
  border-top: solid 1px #636363;
  border-bottom: solid 1px #636363;
  margin-bottom: 7px;
}
.controlLabel {
  font-size: 9px;
  color: #d7d7d7;
  margin: 0px;
  margin-bottom: 10px;
  margin-top: 0px;
  font-family: system-ui;
}
.twoButtonsContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.twoButtonsContainer button {
  padding: 2px;
  margin-bottom: 2px;
  height: 25px;
  border-radius: 2px;
  border: solid 1px #00000000 !important;
  font-weight: 200;
  font-size: 14px;
  background-color: initial;
  cursor: pointer;
  box-sizing: border-box;
}
.twoButtonsContainer button:hover {
  background-color: #454545 !important;
  border: solid 1px #636363 !important;
}
.twoButtonsContainer button svg {
  width: 18px;
  height: 18px;
}
#getImage {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
#getImageLabel {
  margin-bottom: 7px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
}
